#root {
  max-width: 1280px;
  margin: 0 auto;
}

.chord-bar {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.chord {
    margin-right: 5px;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}
