#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

.song-content {
  display: flex;
}

.original-chords {
  width: 200px;
  padding-right: 20px;
  overflow-y: auto;
  max-height: calc(100vh - 100px); /* Adjust based on your header height */
}

.alternative-representation {
  flex-grow: 1;
  overflow-x: auto;
}

.chord-bar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.chord {
  margin-right: 2px;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}

.chord-info {
  margin-top: 10px;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.chord-info p {
  margin: 2px 0;
}

.alternative-chord-representation {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.chord-line {
  margin-bottom: 5px;
}

.minor-chords,
.dominant-chords,
.major-chords {
  height: 20px;
  display: flex;
  align-items: center;
}
